/* only small desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 10px;
  }

  .search-bar .form-group {
    width: 26.33%;
  }

  #hero-area .contents .head-title {
    font-size: 40px;
  }

  .special-product img {
    height: 322px;
  }

  .tg-btn {
    padding: 3px 10px 3px;
  }

  .services-item .services-content h3 a {
    font-size: 16px;
  }

  #pricing .price-block-wrapper .prici-left {
    width: 150px;
  }

  #pricing .price-block-wrapper .pricing-list {
    width: 290px;
  }

  #list-view .list-box .feature-content {
    width: 57%;
  }

  .featured-box .feature-content h4 {
    font-size: 15px;
  }

  .featured-box .feature-content .btn-list .btn-price {
    padding: 10px 22px;
  }
}
/* tablets */
@media (max-width: 991px) {
  .search-bar .form-group {
    width: 26.33%;
  }

  .page-title-section {
    padding: 40px 0;
  }

  .section-titile-bg {
    display: none;
  }

  .section-title {
    position: relative;
    margin-bottom: 10px;
  }
}
/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .search-bar .form-group {
    width: 50%;
  }

  .search-bar .btn {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 50%;
    position: relative;
    border-top: 1px solid #ddd;
  }

  .search-bar .form-group:nth-child(3) {
    border-top: 1px solid #ddd;
    border-left: 0;
  }

  #hero-area .contents .head-title {
    font-size: 48px;
  }

  .counter-section .counter .icon i {
    font-size: 45px;
  }

  .counter-section .counter .counterUp {
    font-size: 30px;
  }

  .special-product img {
    width: 100%;
    height: 240px;
  }
  .special-product figcaption h3 {
    font-size: 22px;
  }

  .special-product {
    margin-bottom: 15px;
  }

  .subscribe .form-control {
    width: 62%;
  }

  #pricing .price-block-wrapper .prici-left {
    padding: 10px 0;
    margin-top: 45px;
  }

  .ads-details-info {
    margin-top: 80px;
  }

  .product-item {
    margin-bottom: 30px;
  }

  #sidebar {
    margin-top: 30px;
  }

  .subscribe-inner .form-control {
    width: 57%;
  }

  .footer-Content .widget {
    margin-bottom: 30px;
  }
}
/* mobile or only mobile */
@media (max-width: 767px) {
  .section-title {
    font-size: 18px;
  }

  .search-bar .form-group {
    width: 100%;
  }

  .search-bar {
    display: inline-block;
  }

  .search-bar .btn {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 100%;
    position: relative;
    border-top: 1px solid #ddd;
  }

  .search-bar .form-group:nth-child(2) {
    border-top: 1px solid #ddd;
    border-left: 0;
  }

  .search-bar .form-group:nth-child(3) {
    border-top: 1px solid #ddd;
    border-left: 0;
  }

  .contents-ctg {
    padding: 110px 0 80px;
  }

  #hero-area .contents {
    padding: 100px 0;
    width: 100%;
    display: inline-block;
  }

  #hero-area .contents .head-title {
    font-size: 15px;
  }

  .services-item .services-content h3 a {
    font-size: 16px;
  }

  .special-product {
    margin-bottom: 30px;
  }

  .testimonial-item .img-thumb {
    float: none;
    margin: 0px 30px 15px 0;
  }

  .subscribes p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .subscribe .form-control {
    width: 100%;
    margin-bottom: 15px;
  }

  #list-view .list-box figure img {
    width: 100%;
    height: 250px;
  }

  #list-view .list-box figure {
    width: 100%;
    margin-bottom: 15px;
  }

  #list-view .list-box .feature-content {
    width: 100%;
    margin-left: 0;
  }

  #list-view .featured-box figure {
    width: 100%;
    margin-bottom: 15px;
  }

  #list-view .featured-box .feature-content {
    padding: 0;
    width: 100%;
  }

  .product-filter .short-name {
    display: none;
  }

  .product-filter .Show-item {
    display: none;
  }

  .single-cta {
    margin-bottom: 30px;
  }

  .footer-Content .widget {
    margin-bottom: 30px;
  }

  #copyright .float-right {
    float: left !important;
  }

  #about .about-wrapper {
    padding: 15px 0;
  }

  #about .intro-title {
    font-size: 16px;
    line-height: 30px;
  }

  .product-item {
    margin-bottom: 30px;
  }

  #pricing .price-block-wrapper .prici-left {
    padding: 40px 0;
  }

  #pricing .price-block-wrapper .pricing-list {
    width: 300px;
    padding: 20px;
  }

  .blog-item .descr {
    padding: 0 15px 20px;
  }

  .subscribe-inner {
    padding: 30px 15px;
  }

  .subscribe-inner .subscribe-title {
    font-size: 18px;
  }

  .subscribe-inner .form-inline {
    width: 100%;
  }

  .subscribe-inner .form-control {
    width: 85%;
  }

  .subscribe-inner .btn-common {
    margin: 0 auto;
    margin-top: 15px;
  }

  .contact-item {
    margin-bottom: 40px;
  }

  .pagination .page-item .page-link {
    padding: 7px 14px;
  }

  .blog-post .post-content {
    padding: 30px 15px;
  }

  .blog-post .post-content .post-title {
    font-size: 18px;
  }

  #sidebar {
    margin-top: 30px;
  }

  #comments .comments-list li ul {
    padding-left: 0;
  }

  #comments h3 {
    font-size: 15px;
  }

  #comments .comments-list .media .thumb-left {
    width: 170px;
  }

  #comments .comments-list .media .info-body {
    margin-left: -40px;
  }

  .post-tags {
    margin-bottom: 20px;
  }

  .thumb-left img {
    width: 60%;
  }

  .error-content .error-message h2 {
    font-size: 90px;
  }

  #content .contact-form, #content .information {
    margin-bottom: 30px;
  }

  #content .contact-form, #content .information {
    margin-top: 25px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .search-bar .form-group {
    width: 100%;
  }

  .error-content .error-message h2 {
    font-size: 90px;
  }

  .btn, .featured-box .feature-content .btn-list .btn-price {
    padding: 8px 10px;
    font-size: 12px;
  }

  #sidebar {
    margin-top: 30px;
  }

  .details-box .owl-pagination {
    display: none;
  }

  .error-content .form-error-search .btn-search {
    font-size: 15px;
    width: 115px;
  }

  #content .contact-form, #content .information {
    margin-bottom: 30px;
  }

  #content .contact-form, #content .information {
    margin-top: 25px;
  }
}
